// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  src: local("Lato Light"), local("Lato-Light"), url("#{$font-path}/Lato-Light.woff") format("woff"), url("#{$font-path}/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("#{$font-path}/Lato-Regular.woff") format("woff"), url("#{$font-path}/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: local("Lato Bold"), local("Lato-Bold"), url("#{$font-path}/Lato-Bold.woff") format("woff"), url("#{$font-path}/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 200;
  src: local("Lato Light Italic"), local("Lato-Bold-Italic"), url("#{$font-path}/Lato-LightItalic-webfont.woff") format("woff"), url("#{$font-path}/Lato-LightItalic.ttf") format("truetype");
}

ion-content {
  background: url("../assets/images/bg.png") #faf5f5;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-bold { font-weight: 600; }
.text-thin { font-weight: 200; }